<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true">
    <testsuite name="Opulence Tests">
        <directory>src/Authentication/tests</directory>
        <directory>src/Authorization/tests</directory>
        <directory>src/Cache/tests</directory>
        <directory>src/Cryptography/tests</directory>
        <directory>src/Databases/tests</directory>
        <directory>src/Framework/tests</directory>
        <directory>src/Orm/tests</directory>
        <directory>src/QueryBuilders/tests</directory>
        <directory>src/Validation/tests</directory>
        <directory>src/Views/tests</directory>
    </testsuite>
</phpunit>
