<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true">
    <testsuite name="Opulence Tests">
        <directory>src/Authentication/TestsTemp</directory>
        <directory>src/Authorization/TestsTemp</directory>
        <directory>src/Cache/TestsTemp</directory>
        <directory>src/Cryptography/TestsTemp</directory>
        <directory>src/Databases/TestsTemp</directory>
        <directory>src/Framework/TestsTemp</directory>
        <directory>src/Orm/TestsTemp</directory>
        <directory>src/QueryBuilders/TestsTemp</directory>
        <directory>src/Validation/TestsTemp</directory>
        <directory>src/Views/TestsTemp</directory>
    </testsuite>
</phpunit>
