<?php
namespace {{namespace}};

use DateTime;
use Opulence\Databases\Migrations\Migration;

class {{class}} extends Migration
{
    /**
     * @inheritdoc
     */
    public static function getCreationDate() : DateTime
    {
        return DateTime::createFromFormat(DateTime::ATOM, '{{creationDate}}');
    }

    /**
     * @inheritdoc
     */
    public function down() : void
    {
        //
    }

    /**
     * @inheritdoc
     */
    public function up() : void
    {
        //
    }
}
